@media screen and (min-width: 730px){
    .categories{
        display: none;
    }
    
}

@media only screen and (max-width: 730px)
{  
    header section{
        display: none;
    }
    header{
        display: flex;
        justify-content: center;
    }
    .about-me{
        display: flex;
        flex-direction: column;
    }
    aside{
        height: fit-content;
    }

    .projects{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}