#project-card1, #project-card2, #project-card3{
    width: 300px;
    margin: 20px;
    height: 200px;
    border-radius: 12px;
    transition: 1s;
    animation: infinite alternate shadow 3s;
}



@keyframes shadow {
    0%{
        box-shadow: 0px 0px 10px 10px white;
    }
    100%{
        box-shadow: 0px 0px 5px 5px white;
    }
}




#project-card1{
    background-image: url(/public/img/background1.png);
    background-position: 50%;
    background-size: cover;
}

#project-card2{
    background-image: url(/public/img/background2.png);
    background-position: 50%;
    background-size: cover;
}

#project-card3{
    background-image: url(/public/img/background3.png);
    background-position: 50%;
    background-size: cover;
}