*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    transition: 1s;
}

body{
    background-color: #121212;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: 1s;
}


li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
    margin: 3px;
    transition: 1s;
}

header{
    height: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid white;
    transition: 1s;
}

a:hover{
    display: inline-block;
    transform: scale(115%);
    animation: shadowtext 3s ease-in-out infinite;
    

}

@keyframes shadowtext {
    0%, 100%{
        text-shadow: 0px 0px 0px white;
    }
    25%{
        text-shadow: 0px 0px 5px white;
        
    }
    50%{
        text-shadow: 0px 0px 5px white;
    }

    
}

aside{
    
    margin: 50px;
    background: gray;
    border: 1px solid whitesmoke;
    border-radius: 12px;
    height: 300px;
    transition: 1s;
}

.about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    transition: 1s;
    
}

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    padding-top: 20px;
    transition: 1s;
    
}

.image-about-me img{
    width: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 12px white;
    transition: 1s;
}

.content-about-me{
    padding: 20px;    
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: calc(100vw - 100px);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: 1s;

}
